.btn {
    margin: 2px;
}

#main {
    padding-bottom: 50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ccc;
    border-top: 2px solid #1b9e77;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-bottom: 0px;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}
